/* Navbar Style */
.navbar {
    padding: 20px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo (Text) Style */
.logoText {
    font-size: 32px;
    font-family: 'Your Thick Cursive Font', cursive;
    color: #fff; /* Set the text color */
    transition: transform 0.3s ease;
}

.logoText:hover {
    transform: scale(1.1);
}

/* Navigation List Style */
.navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Navigation Item Style */
.navItem {
    margin: 0 15px;
    transition: transform 0.3s ease;
}

.navItem:hover {
    transform: scale(1.1);
}

/* Anchor Tag (Link) Style */
.navItem a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

/* Hover and Active States */
.navItem a:hover,
.navItem.active a {
    color: rgb(177, 73, 21); /* Set the highlight color */
}
